

<section class="wrapper-header">
  <div class="container">
    <!-- First Row -->
    <div class="row main-header">
        <div class="container">
          <div class="row image">
              <div class="col main-header">
                <img src="image/vi-logo.svg">
              </div>

          <div class="col navbar">
            <ul class="navbar">
              <li class="nav-item-responsive">
                <a class="nav-link" href="#">Feature</a>
              </li>
              <li class="nav-item-responsive">
                <a class="nav-link" href="#">Integrations</a>
              </li>
              <li class="nav-item-responsive">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item-responsive" style="float:right">
                <button class="btn" id="logBtn" type="button" name="button">Log In</button>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Row -->

    <div class="row">
      <h2>Collaboration tool for website feedback and fixing design bugs</h2>
      <h4>Review and launch pixel-perfect websites with peace of mind</h4>
    </div>

    <!-- Third Row -->

    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn create-btn" type="button">Create Your Free Account</button>
      </div>

      <div class="col-md-12 text-center">
        <div class="row youtube-frame">
          <div class="YoutubeFrame">
            <iframe src="https://www.youtube-nocookie.com/embed/G5AesFBS0nQ?rel=0&showinfo=0" width="560" height="315"></iframe>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>

<div class="clearfix">

</div>
<section class="container" >
    <div class="row second-section">
      <div class="col-md-12 text-center">
        <h5 class="h5 title">Introducing Visual Inspector</h5>
        <p>Delightful Chrome extension to inspect/edit live webpages without coding.</p>
        <p>Annotate and discuss changes remotely without leaving your website.</p>
        <h5 class="h5 title">Your best approach to Pixel-perfect website</h5>
      </div>

    </div>
    <div class="row pixel-perfect">
      <div class="col-md-2 text-center">
        <div class="wrapper">
          <img src="image/vi-process-inspect.svg"></img>
          <p class="paragraph-title">Fix design bugs</p>
          <p class="paragraph-content">Visualize changes in live webpage. No Coding required.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="wrapper">
          <img src="image/vi-process-sync.svg"></img>
          <p class="paragraph-title">Annotate & Share</p>
          <p class="paragraph-content">Add comments and invite stakeholders to review.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="wrapper">
          <img src="image/vi-process-collaborate.svg"></img>
          <p class="paragraph-title">Resolve quickly</p>
          <p class="paragraph-content">Real-time visualization and communication</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="wrapper">
          <img src="image/vi-process-pixel-perfect.svg"></img>
          <p class="paragraph-title">Get a Pixel-perfect website</p>
        </div>
        <div class="smile-img" name="smile-img">
          <img class="smile img" src="image/vi-process-smile.svg"></img>
        </div>
      </div>
    </div>
</section>

<section class="container third-section">
  <div class="row">
    <div class="col-md-4 col-md-offset-1 col-sm-6">
      <div class="container-icon">
        <img src="image/icon-vi-section-inspect.svg">
        <span class="section-title">Fix design bugs</span>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-1 col-sm-6">
      <img src="image/inspect-measure.png">
    </div>
  </div>
</section>

<section class="container">
  {{page.header}}
  <div class="row">
    <div class="col">
      {{page.content}}
    </div>
  </div>

</section>
