/* line 1, ../sass/style.scss */
#main-content {
  padding: 40px 0;
}

/* line 5, ../sass/style.scss */
#nav-logo {
  padding-bottom: 13px;
}

/* line 9, ../sass/style.scss */
#footer {
  background-color: #2E3841;
  color: #fff;
  padding: 40px 0 50px;
  border-top: 15px solid #F5A623;
  margin-top: 30px;
}
/* line 16, ../sass/style.scss */
#footer .content {
  padding: 30px 15px !important;
}
/* line 21, ../sass/style.scss */
#footer .content .row .menu .menu-item {
  display: inline-block;
}
/* line 24, ../sass/style.scss */
#footer .content .row .menu .menu-item a {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #8E9398;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  margin: 20px 120px 0 0;
}
/* line 38, ../sass/style.scss */
#footer .note {
  padding-top: 20px;
}

/* line 43, ../sass/style.scss */
#content_sub_menu {
  text-align: center;
  margin: -15px 0 0;
  background: #F5A623;
  padding: 20px 0 0;
}
/* line 49, ../sass/style.scss */
#content_sub_menu .block.block-menu.navigation.menu--main,
#content_sub_menu .contextual-region.block.block-menu.navigation.menu--main {
  display: inline-flex;
}
/* line 53, ../sass/style.scss */
#content_sub_menu .block.block-menu.navigation.menu--main h2,
#content_sub_menu .contextual-region.block.block-menu.navigation.menu--main h2 {
  font-size: 1.8rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/* line 58, ../sass/style.scss */
#content_sub_menu .block.block-menu.navigation.menu--main ul,
#content_sub_menu .contextual-region.block.block-menu.navigation.menu--main ul {
  margin-left: 4em;
  margin-bottom: 0;
}
/* line 62, ../sass/style.scss */
#content_sub_menu .block.block-menu.navigation.menu--main ul li,
#content_sub_menu .contextual-region.block.block-menu.navigation.menu--main ul li {
  display: inline-block;
  padding: 10px 0 10px 5px;
}
/* line 66, ../sass/style.scss */
#content_sub_menu .block.block-menu.navigation.menu--main ul li a,
#content_sub_menu .contextual-region.block.block-menu.navigation.menu--main ul li a {
  color: #000000;
  font-weight: lighter;
  letter-spacing: -1px;
}

/* line 76, ../sass/style.scss */
.node--sticky.node--view-mode-teaser {
  background-color: #e6e6e6;
  border-style: solid;
  border-width: 1px;
  border-color: #8c8c8c;
  padding: 20px;
}

/* line 84, ../sass/style.scss */
.main-content {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}

/* line 98, ../sass/style.scss */
.navbar-custom ul li {
  list-style: none;
  display: inline-block;
}
/* line 103, ../sass/style.scss */
.navbar-custom ul li a {
  width: 150px;
  line-height: 45px;
  display: inline-block;
  letter-spacing: 0.9px;
  font-size: 14px;
  color: #000;
  transition: 0.3s;
  text-align: center;
}
/* line 113, ../sass/style.scss */
.navbar-custom ul li a:hover {
  text-decoration: none;
  color: #F5A623 !important;
  transform: scale(1.1);
}

/* line 125, ../sass/style.scss */
.node__content .clearfix p {
  margin-top: 20px;
}

/* line 131, ../sass/style.scss */
.navbar {
  padding: 0.5rem 10rem;
}

/* line 137, ../sass/style.scss */
.banner-image {
  border-top: 7px solid #F5A623;
  width: 100%;
  height: 500px;
  margin-top: -3px;
}

/* line 144, ../sass/style.scss */
.banner-container {
  margin-top: -17px;
}

/* line 149, ../sass/style.scss */
.node__title a {
  color: #000000 !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 155, ../sass/style.scss */
.node__meta {
  color: #68696b;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
